@keyframes rope {
	0% {transform: rotate(0deg);}
	25% {transform: rotate(60deg);}
	50% {transform: rotate(0deg);}
	75% {transform: rotate(-60deg);}
	100% {transform: rotate(0deg);}
}
.ropeRotate {
	animation: rope linear 3s infinite;
}