/*所有标签不允许选中*/
*{
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
/*滚动条样式*/
::-webkit-scrollbar{
    padding-left:1px;
    background-color:#fffcc7;
    overflow:visible;
    width:8px;
}
/*滚动条滑动条样式*/
::-webkit-scrollbar-thumb{
    background-color: #f40;
    background-clip:padding-box;
    border-left-width:2px;
    min-height:10px;
    box-shadow:inset 1px 1px 0 rgba(0, 0, 0, .1),inset 0 -1px 0 rgba(0, 0, 0, .07);
}
::-webkit-scrollbar-thumb:vertical:hover{
    background-color:rgba(0, 0, 0, .2);
}
::-webkit-scrollbar-thumb:vertical:active{
    background-color:rgba(0, 0, 0, .2);
}
::-webkit-scrollbar-button{
    height:0;
    width:0;
}
::-webkit-scrollbar-track{
    background-clip:padding-box;
    border:solid transparent;
    border-width:0 0 0 2px;
}
::-webkit-scrollbar-corner{
    background:transparent;
}
::-webkit-scrollbar-track-piece{
margin: 10px 0;
-webkit-border-radius: 0;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
}
body {
	background-color: #fffcc7;
}
#main .chess-td {
	width: 50px;
	height: 50px;
	border: 1px solid #bb3e4c;
}
#main .chess-td-trans {
	border-top: 1px solid #bb3e4c;
}
#main .chesspiece {
	line-height: 34px;
	background: #f2d0a3;
	border: 3px solid #e4b28f;
}
#main .active {
	background: #f40;
	color: #fff;
	border-color: #f40;
}